* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  height: 100%;
  display: flex;
  justify-content: center;
  background: rgb(255,236,210);
  background: linear-gradient(131deg, rgba(255,236,210,1) 0%, rgba(252,182,159,1) 51%);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
